.btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: var(--fs-4);
    font-weight: var(--fw-medium);
    border: none;
    border-radius: var(--radius-md);
    font-family: 'Montserrat';
    cursor: pointer;
    transition: background-color var(--transition-fast), transform var(--transition-fast);
    box-shadow: var(--shadow-md);
}

.btn:hover {
    transform: translateY(-2px);
    background-color: var(--danger-dark);
}

.btn-primary {
    background: var(--primary);
    color: white;
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-outline:hover {
    background: var(--primary);
    color: white;
}