/* Apply Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-bold);
    line-height: var(--lh-heading);
}

p {
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    line-height: var(--lh-text);
    color: var(--gray-800);
    margin-bottom: var(--mb-2);
}

::placeholder {
    font-size: 14px;
}

i {
    color: var(--primary);
}

img {
    max-width: 100%;
    height: auto;
}